p{
margin-top: 50px;
}
.img-logo{
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
 
}
.logotipo{
   
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}