h1 {
  margin: 1rem 0rem 0rem 1rem;
  font-size: 20px;
}

.promotion-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.promotion-img {
  margin: 0.5rem;
  width: 72%;
  height: 10%;
}
