/*imagen redonda*/
.categories-image{
    height: 250px;
    width: 250px;
    border-radius: 100%;
}
.category-card{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.category-title{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: #dcb5b5c7;
    width: 250px;
    border-radius: 10px;
    height: 50px;
    color: white;
    font-size: 1.5em;

}

/*Imagen cuadrada*/
.category-imageHome{
    width: 176px;
    height: 200px;
}
.category-titleHome{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: #dcb5b5c7;
    width: 176px;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
}
.category-cardHome{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.input-categories {
    display: flex;
    width: 50%;
    border-color: rgba(90, 90, 90, 1);
    font-size: 20px;
    text-indent: 16px;
}
textarea {
    display: flex;
    margin-top: 3rem;
    width: 50%;
    height: 200px;
    border-color: rgba(90, 90, 90, 1);
    font-size: 20px;
    text-indent: 16px;
}