.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    width: min-content;
    height: 1px;
    border-bottom-color: black solid 1px;
}
.img-logo {
    margin-left: 180px;
}
p {
    font-size: 22px;
    text-align: center;
    margin-top: 200px;
}
.form {
    display:flex;
    flex-direction: column;
    align-items: center;
    border-color: gray;
    /* width: 471px;
    height: 446px; */
}
.email {
    display: flex;
    margin-top: 60px;
    width: 326px;
    height: 63px;
    border-color: rgba(90, 90, 90, 1);
    font-size: 20px;
    text-indent: 16px;
}
.password {
    margin: 20px;
    width: 326px;
    height: 63px;
    border-color: rgba(90, 90, 90, 1);
    font-size: 20px;
    text-indent: 16px;
}
.button {
    margin: 10px;
    width: 326px;
    height: 63px;
    background-color: black;
    color: white;
    border-color: rgba(0, 0, 0, 0.021);
    font-size: 20px;
    cursor:pointer;
}
footer {
    text-align: center;
    align-items: flex-end;
    height: 5%;
    background-color: black;
    color: white;
    margin-top: 203px;
}